- if session[:flash]
  %p= session[:flash]
  - session[:flash] = nil

%form{:action => '/update_status', :method => :post}
  %p
    Status
  %p
    %textarea{:name=>'tweet[status]', :rows => 2, :cols => 40}
  %p
    click on the map, or enter an address to set the coords for the tweet.
  %input#address{:type => :text}
  %input#submit_address{:type => :submit, :value => "Go to address"}
  #map_canvas{ :style => "width:400px; height:200px"}

  %p
    %label Lat:
    %input#tweet_lat{:type => :text, :name => 'tweet[lat]', :value => default_location[0]}
  %p
    %label Long:
    %input#tweet_long{:type => :text, :name => 'tweet[long]', :value => default_location[1]}
  %input{:type => :submit, :value => "Tweet"}
%script{:type=>'text/javascript'}
  initialize()
