!!!
%html
  %head
    %title Geo Tweeter
    %meta{ :name=>"viewport", :content=>"initial-scale=1.0, user-scalable=no"}
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{ :type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false&key=ABQIAAAA1kFhOpUTT4zQ01KPK8prkBTP-CYcua0Y_FH7lzx_Gy0oZqNYTRT8-RsGDPQHdyW6YvIaBOtfhwNOMw"}
    %script{ :type => "text/javascript", :src => '/app.js'}
    

  %body
    %h1 Geo Tweeter
    .header
      - if user
        %a{:href=>'/logout'} Logout
    .main
      = yield
